{% extends "base.html" %}

{% block title %}Industries Listing{% endblock %}

{% block content %}
      <div class="row">
          <div class="col-lg-10">
      <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Note!</strong> {%  if matchUser.profilecompleted == 2 %} Your profile is incomplete, {%  endif %}please complete your profile to increase your chances of getting a job.
</div>
</div>
<div class="col-lg-2"> <p>{%  if seekerprofile %} <a class="btn btn-info new-btn" href="{% url 'jobseekers_edit' seekerprofile.jobseekerid %}">Update Profile</a>{%  else %} <a class="btn btn-info new-btn" href="/matcher/jobseekers/create">Create Profile</a> {% endif %}</p>
          </div>
          </div>
 <h3>Basic Information</h3>
<table class="table table-striped">
    <tr class="default"><th>First Name</th><td>{% if seekerprofile %} {{ seekerprofile.firstname }}{% else %}{{ matchUser.firstname }} {% endif %}</td></tr>
    <tr class="default"><th>Last Name</th><td>{% if seekerprofile %} {{ seekerprofile.lastname }}{% else %} {{ matchUser.lastname }}{% endif %}</td></tr>
    <tr class="default"><th>Email</th><td>{{ matchUser.emailaddress }}</td></tr>
    <tr class="default"><th>Mobile Number</th><td>{{ matchUser.mobilenumber }}</td></tr>
    <tr class="default"><th>Account Type</th><td>{{ matchUser.get_usertype_display }}</td></tr>
</table>


{%  if seekerprofile %}

 <h3 class="text-success">Other Details</h3>
 <table class="table table-striped">
    <tr class="default"><th>Gender</th><td>{{ seekerprofile.gender }}</td></tr>
    <tr class="default"><th>Marital Status</th><td>{{ seekerprofile.get_maritalstatus_display }}</td></tr>
    <tr class="default"><th>Years of Experience</th><td>{{ seekerprofile.yearsofexperience }}</td></tr>
    <tr class="default"><th>Education Level</th><td>{{ seekerprofile.educationid.name }}</td></tr>
    <tr class="default"><th>Skill set</th><td>{{ seekerprofile.skills }}</td></tr>
    <tr class="default"><th>Expected Salary</th><td>{{ seekerprofile.expectedsalary }}</td></tr>
    <tr class="default"><th>Curriculum Vitae</th><td><a href="{{ seekerprofile.cv.url }}">{{ seekerprofile.cv }}</td></tr>
    <tr class="default"><th>Summary of Self</th><td>{{ seekerprofile.profiledescription }}</td></tr>
</table>


{%  endif %}

{% endblock %}
