{% extends "base.html" %}

{% block title %}Education Level Listing{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-10">
<h3>Education Level Listing</h3></div>
      <div class="col-lg-2"> <p><a class="btn btn-info new-btn" href="/matcher/education/create">Create New Education Level</a></p>
          </div>
      </div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for education in object_list %}
        <tr>
            <td>{{ education.educationid }}</td>
            <td>{{ education.name }}</td>
             <td>{{ education.description }}</td>
            <td><a href="{% url 'education_edit' education.educationid %}" class="btn">Edit</a></td>
            <td><a href="{% url 'education_delete' education.educationid %}" class="btn">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}