{% extends "base.html" %}

{% block title %}Jobs Listing{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-10">
<h3>Jobs Listing</h3></div>
{% if matchUser.usertype == 2 %}
      <div class="col-lg-2"> <p><a class="btn btn-info new-btn" href="/matcher/job/create">Post New Job</a></p>
          </div>
          {% endif %}
      </div>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Company</th>
        <th>Openings Available</th>
        <th>Closing Date</th>
        <th>Details</th>
    </tr>
    {% for job in object_list %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.shortdescription }}</td>
            <td>{{ job.companyid.companyname }}</td>
            <td>{{ job.openingsavailable }}</td>
            <td>{{ job.deadline }}</td>
            <td><a href="{% url 'joblist_detailed' job.jobid %}" class="btn"><span class="glyphicon glyphicon-search"></span>View</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}