{% extends "base.html" %}

{% block title %}Jobs Listing{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-10">
<h3>Jobs Listing</h3></div>
      <div class="col-lg-2"> <p><a class="btn btn-info new-btn" href="/matcher/industries/create">Create New Industry</a></p>
          </div>
      </div>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Company</th>
        <th>Openings Available</th>
        <th>Closing Date</th>
        <th>Details</th>
    </tr>
    {% for job in object_list %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ industry.industryname }}</td>
            <td>{{ industry.industrydescription }}</td>
            <td>{{ industry.datecreated }}</td>
            <td><a href="{% url 'industry_edit' industry.industryid %}" class="btn">Edit</a></td>
            <td><a href="{% url 'industry_delete' pk=industry.industryid %}" class="btn">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}