{% extends "base.html" %}

{% block title %}Movie Listing{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-10">
<h3>Qualification Params Listing</h3></div>
      <div class="col-lg-2"> <p><a class="btn btn-info new-btn" href="/matcher/qualificationparams/create">Create New Parameter</a></p>
          </div>
      </div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Input Type</th>
        <th>Units</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for param in object_list %}
        <tr>
            <td>{{ param.parameterid }}</td>
            <td>{{ param.name }}</td>
            <td>{{ param.get_inputtype_display }}</td>
            <td>{{ param.units }}</td>
             <td>{{ param.description }}</td>
            <td><a href="{% url 'qualificationparams_edit' param.parameterid %}" class="btn">Edit</a></td>
            <td><a href="{% url 'qualificationparams_delete' param.parameterid %}" class="btn">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}