{% extends "base.html" %}

{% block title %}Skillset Listing{% endblock %}

{% block content %}
<div class="row">
        <div class="col-lg-10">
<h3>Skillset Listing</h3></div>
      <div class="col-lg-2"> <p><a class="btn btn-info new-btn" href="/matcher/skills/create">Create New Skill</a></p>
          </div>
      </div>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for skill in object_list %}
        <tr>
            <td>{{ skill.skillid }}</td>
            <td>{{ skill.name }}</td>
             <td>{{ skill.description }}</td>
            <td><a href="{% url 'skills_edit' skill.skillid %}" class="btn">Edit</a></td>
            <td><a href="{% url 'skills_delete' skill.skillid %}" class="btn">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}